<a href="https://colab.research.google.com/github/giovanimachado/python-daily-tools/blob/master/office-tools/email_list_to_table.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

This notebook is used to convert a string containing emails in to a table.

In [ ]:
emails = "Giovani 1 <giovani1@gmail.com>; Giovani 2 <giovani2@gmail.com>; Giovani 3 <giovani3@gmail.com>"

In [ ]:
def string_to_table(string):
  """ Return a Dataframe containing Name, Email and Company

      Input:
        String containing a list of names and emails separated by ; 
        eg.: Giovani <giovani.machado@company.org.br>; Giovani <giovani.machado@company.com.br>; ...
  """
  import pandas as pd
  emails = string
  emails = emails.replace(" <", ":").replace(">","")

  # Split Name and Email
  d = {}
  invalid = []
  for pair in emails.split('; '):
    try:
      name, email = pair.split(':')
      d[name] = email
     
    except ValueError:
      invalid.append(pair)
      d[pair] = pair
      pass
  #print(d)
  #print(invalid)

  # Create dataframe based on the Dict
  table = pd.DataFrame(d.items(), columns=['Name', 'Email'])
  
  #Split column Email in @
  new = table.Email.str.split('@', n = 1, expand = True);

  #Split column 1 in the first .
  new = new[1].str.split('.', n = 1, expand = True);

  # Create column Company
  table["Company"] = new[0];
  
  return table

In [ ]:
table = string_to_table(emails)
table

        Name               Email Company
0  Giovani 1  giovani1@gmail.com   gmail
1  Giovani 2  giovani2@gmail.com   gmail
2  Giovani 3  giovani3@gmail.com   gmail